/* Gig.css */
/* Resetting some default margin and padding */
body, h1, h2, p, img {
    margin: 0;
    padding: 0;
}

/* Container for the entire page */
body {
    font-family: 'Arial', sans-serif;
    background-color: #f4f4f4;
}

/* Gig container styles */
.gig-container {
    display: flex;
    flex-direction: column;
    border: 2px solid #f1f1f1;
    padding: 20px;
    margin: 20px;
    align-items: center;
    background-color: #fff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: box-shadow 0.3s ease;
    width: 250px;
    text-align: center;
}

/* Hover effect for gig container */
.gig-container:hover {
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
    transform: scale(1.05);
}

/* Band image styles */
.band-image {
    width: 200px;
    height: 250px;
    border-radius: 0%;
    margin-bottom: 10px;
    object-fit: cover;
    border: 4px solid #fff;
}

/* Details container styles */
.details-container {
    flex: 1;
}

/* Band name styles */
.band-name {
    font-size: 1.8em;
    color: #333;
    margin-bottom: 8px;
}

/* Event description styles */
.event-description {
    font-style: italic;
    color: #666;
}

/* Event time styles */
.event-time {
    margin-top: 10px;
    font-size: 1.2em; /* Increased font size */
    /* Color remains unchanged */
}

/* Event location styles */
.event-location {
    margin-top: 5px;
    color: #777; /* Color remains unchanged */
}

/* Heart button styles */
.heart-button {
    font-size: 24px; /* Adjust size as needed */
    color: #000; /* Color for the not favorited heart */
    border: none;
    background: none;
    cursor: pointer;
}
  
  .heart-button.favorited {
    color: red; /* Color for the favorited heart */
}
  

/* Title styles */
.app-title {
    text-align: center;
    font-size: 2.5em;
    color: #333;
    margin-bottom: 30px;
}

/* Gigs list container styles */
.gigs-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
}

/* Animation for hover effect */
.gig-container {
    transition: transform 0.2s ease-in-out;
}

/* Responsive styles for smaller screens */
@media (max-width: 768px) {
    .gig-container {
        width: 100%; /* Full width for smaller screens */
    }
}
